.content {
	width: 100%;
	min-width: 320px;
	float: left;
	text-align: center;
	padding-top: 100px;

	.heading {
		font-size: 10vw;
		min-width: 320px;
	}

	.lead {
		display: inline-block;
		margin-right: 20px;
		font-size: 3vw;
		min-width: 320px;
	}

	a.signUpButton {
		display: inline-block;
		padding: 1vw 2vw;
		border: 0;
		font-size: 2vw;

		background-color: #4B9DA3;
		color: #f3f3f3;

		cursor: pointer;
		border-radius: 2px;
		text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
		box-shadow: 0px 5px 25px -5px rgba(0,0,0,0.5);

		transition: all 200ms ease-out;

		&:hover {
			transition: all 300ms ease-out;
			background-color: #f1f1f1;
			color: #4B9DA3;
			box-shadow: none;
			text-shadow: none;
			font-weight: 400;
		}
	}


 	.grid {
 		width: 100%;
	    position: relative;
	    float: left;

 		.gridItem {

 		}
 	}
}