.menu {
	position: fixed;
	width: 100%;
	height: 72px;
	border-bottom: 1px solid #dddddd;
	background-color: #f1f1f1;
	z-index: 3;

	.menuList {

		li {
			height: 100%;
			line-height: 71px;

			a {
				background-color: #f1f1f1;
				color: #4B9DA3;
				width: 100%;
				height: 100%;
				padding-left: 20px;
				padding-right: 20px;
				cursor: pointer;
				display: block;
				transition: all 200ms ease-out;

				&:hover {
					transition: all 300ms ease-out;
					background-color: #4B9DA3;
					color: #f1f1f1;
					text-decoration: none;
				}
			}
		}
	}
}