* {
    box-sizing: border-box;
}


html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    body {
        margin: 0;
        padding: 0;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        background-color: #f1f1f1;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;

        h1 {
            margin: 0;
            color: #F97F85;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                font-size: 18px;
                font-weight: bold;

                a {
                    color: #555;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        #container {
            width: 100%;

            @media (min-width: 960px) {
                width: 960px;
                margin: 0 auto;
            }

        }

        #navigation {
            padding: 10px 15px;
            background-color: #F9E957;
        }
    }
}