.gridItem {
	position: relative;
	width: 100%;
	height: 300px;
	float: left;
	padding: 10px;
	width: 100%;

	@media (min-width: 620px) {
		width: 50%;
	}

	@media (min-width: 950px) {
		width: 33.33333%;
	}

	@media (min-width: 1520px) {
		width: 25%;
	}

	&:hover {
		.hidden {
			.backgroundWrapper {
				.background {
					transform: scale(1.5);
				}
			}
		}
	}
	
	.hidden {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;

		.backgroundWrapper {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
			box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.5);

			.background {
		
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				transition: transform 500ms ease-in-out;
				transform: scale(1.0);
				cursor: pointer;


			}
		}

		.description {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			margin: auto;
			background-color: #f1f1f1;
			opacity: 0.8;
			font-size: 30px;
			color: #000;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			left: 100%;
			transition: left 500ms ease-out;

			.title {
				width: 70%;
			}

			&.clicked {
				left: 0%;
			}
		}
	}


}